// Frameworks

// Definings
@import "_reset.scss";
@import "_variables.scss";

// Global Styles
@import "_globals.scss";

// Page Specifics

// Mixins
@import "_mixins.scss";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	overflow: hidden;
	font-family: "Quicksand", "Times New Roman", sans-serif;
}

canvas {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	position: fixed;
}

.container {
	text-align: center;
	h1 {
		margin-top: 80px;
		font-size: 4em;
	}
}
